/R_test_coo.col.bin
/R_test_coo.data.bin
/R_test_coo.row.bin
/R_train_coo.row.bin
/R_train_csc.data.bin
/R_train_csc.indices.bin
/R_train_csc.indptr.bin
/R_train_csr.data.bin
/R_train_csr.indices.bin
/R_train_csr.indptr.bin
